---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import imagenes from '../data/images.json';
import productos from '../data/products.json';

const renderImagen = (img) => (
    <img src={img} class="w-full h-auto object-cover" />
);

const renderProducto = (p) => (
    <div class="p-4 bg-white shadow rounded text-center">
        <img src={p.imagen} class="w-full h-48 object-cover mb-2" />
        <h3 class="text-lg font-bold">{p.nombre}</h3>
        <p class="text-gray-600">{p.precio}</p>
    </div>
);
---

<Layout>
    <Carousel items={imagenes} renderItem={renderImagen} />
    <Carousel items={productos} renderItem={renderProducto} />
</Layout>
