---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";

const url = new URL(Astro.request.url);
const params = url.searchParams;
const q = params.get("q") || "";

let products = [];

try {
  const res = await fetch(`http://localhost:3000/app/products?search=${q}`);
  const { data } = await res.json();
  products = data;
} catch (error) {
  console.error("Error al cargar productos:", error);
}
---

<Layout>
  <div class="flex items-center my-6 justify-center">
    <h1 class="text-2xl font-bold text-center">Productos Destacados</h1>
  </div>

  <div
    class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-screen-xl mx-auto justify-center"
  >
    {
      products.map((product) => (
        <ProductCard
          href="/detalle"
          imageUrl={product.image}
          price={product.price}
          oldPrice="$10"
          title={product.name}
          description={product.description}
        />
      ))
    }
  </div>
</Layout>
